root {
	margin; 0;
	padding: 0;
}

main {
	padding: 1em;
}

nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
}

nav li{
	display: inline-block;
}

nav li a {
	font-family: 'Arial', 'Helvetica', sans-serif;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 0.5em 1em;
}

nav li a:hover {
	background-color: #111;
	font-weight: bold;
}